#tsparticles,
#tsparticles > canvas {
  position: absolute;
  z-index: 1 !important;
}

#tsparticles {
  width: 10%;
  height: calc(100% - 90px - 0.875rem - 20px);
  top: 85.02px;
}

.particles-left {
  left: 0;
}

.particles-right {
  right: 0;
}

.recharts-responsive-container {
  margin-top: 30px;
}

#xAxis > .tick {
  /*visibility: hidden; */
}

#yAxis > .tick > line {
  /*  visibility: hidden; */
}

.tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  white-space: normal;
  line-break: auto;
  font-size: 0.875rem;
  word-wrap: break-word;
  opacity: 0;
}

#root {
  background-color: #222;
}

html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #f2f2f2;
  font-family: 'Roboto', 'Open Sans', 'Helvetica Neue', Helvetica, Arial,
    sans-serif;
}

a {
  text-decoration: none !important;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* [type=button]{
    -webkit-appearance: none !important;
  } */
